<table class="table table-borderless">
  <tbody>

    <% properties.each do |p| %>
      <tr>
        <td><%= p.address %></td>
        <td class="text-right"><%= link_to p.get_status + ' >>', properties_path(:id => p.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
