<%= render 'errors', prop: prop %>

<%= form_for prop do |f| %>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, states.map {|v| [v,v]}, {}, remote: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :roof_type %>
    <%= f.text_field :roof_type, class: "form-control" %>
  </div>

  <fieldset>
    <%= render "properties/details/details_fields", form: f, details: prop.details, details_fields: details_fields %>
  </fieldset>

  <%= f.hidden_field :current_tab, :value => 'property' %>
  <%= f.submit 'Save', class: "btn btn-primary" %>
<% end %>
