<% unless prop.address.blank? %>
  <%= render 'errors', prop: prop %>

  <h1><%= prop.address %></h1>

  <h4><%= prop.get_completeness %>% Complete</h4>

  <% if prop.get_missing_fields.any? %>
    <div>Missing Fields:</div>

    <ul>
      <% prop.get_missing_fields.each do |field| %>
        <li><%= field.to_s.titlecase %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for prop do |f| %>
    <%= f.hidden_field :current_tab, :value => 'sell' %>
    <%= f.hidden_field :selling, :value => true %>
    <%= f.submit 'Sell', class: "btn btn-primary" %>
  <% end %>
<% end %>
