<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= @current_tab == 'property'? 'active': '' %>" data-toggle="tab" href="#property">Property</a>
  </li>

  <li class="nav-item">
    <a class="nav-link <%= @current_tab == 'sell'? 'active': '' %>" data-toggle="tab" href="#sell">Sell</a>
  </li>

  <li class="nav-item">
    <a class="nav-link <%= @current_tab == 'properties'? 'active': '' %>" data-toggle="tab" href="#properties">Properties</a>
  </li>
</ul>

<div class="tab-content border border-top-0">
  <div id="property" class="container tab-pane <%= @current_tab == 'property'? 'active': 'fade' %>"><br>
    <%= render "property", prop: @property, states: @states, details_fields: @details_fields %>
  </div>

  <div id="sell" class="container tab-pane <%= @current_tab == 'sell'? 'active': 'fade' %>"><br>
    <%= render "sell", prop: @property %>
  </div>

  <div id="properties" class="container tab-pane <%= @current_tab == 'properties'? 'active': 'fade' %>"><br>
    <%= render "properties", properties: @properties %>
  </div>
</div>
