'<%= form_for(@property) do |ff| %>'
  $("fieldset").html("<%= j (render :partial => 'properties/details/details_fields', locals: {form: ff, details: @property.details,  details_fields: @details_fields}) %>")
'<% end %>'
