<%= form.fields_for :details, OpenStruct.new(details) do |builder| %>
  <% details_fields.each do |key, value| %>
    <%= render "properties/details/fields/#{value['type']}_field", field: value, f: builder %>
  <% end %>
<% end %>
