<!DOCTYPE html>
<html>
  <head>
    <title>ListingSpark Exam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
  </head>

  <body>
    <div class="container">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
